body {
    background: radial-gradient(circle, yellow, green);
}


h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 15px auto;
    padding: 20px;
    background: white;
    border-radius: 15px;

}

p {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}
a {
    text-decoration: none;
}

img {
    max-width: 100%;
    
}

.main-picture {
    margin-top: 8px 0 8px;
    border-radius: 10px;
    transition: all 170ms ease-in-out;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    
}

.grid img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 1/1;

}

